.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    display: flex;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
}
.main_services_blue {
    color: #03608f;
}
.main_services_grey {
    color: #777777;
}
.line {
    margin-bottom: 24px;
}
h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #035178;
    margin-bottom: 30px;
    margin-top: 30px;
}
.container_text {
    font-style: italic;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 30px;
}
.container_img {
    margin-bottom: 30px;
}
.temporary_box {
    font-size: 100px;
}
.card_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    margin-bottom: 60px;
}
.card {
    border: 1px solid white;
    background: #ffffff;
}
.card:hover {
    border: 1px solid #03608f;
    box-shadow: 0px 5px 30px rgba(31, 36, 102, 0.1);
    cursor: pointer;
    background: #f0faff;
}
.card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 140px;
}
.card_main_text {
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    text-transform: uppercase;
}
.card_text {
    font-size: 14px;
    line-height: 120%;
    color: #777777;
}
h2 a {
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

.section_six {
    background-image: url(../img/intro/intersect.svg);
    background-color: #03608f;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.six_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.six_partner {
    font-size: 48px;
    line-height: 120%;
    color: #f3f3f3;
    margin-right: 30px;
}
.button_download {
    display: flex;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;
    padding: 18.5px 40px 18.5px 69px;
}
.button_download:hover {
    cursor: pointer;
    background: #c3eafd;
}
.button_download img {
    margin-right: 10px;
}
.button_catalog {
    width: 100%;
    background: #eecc1c;
    font-size: 18px;
    line-height: 100%;
    color: #035178;
    border: 1px solid #eaeff3;
    padding: 18.5px 59.5px;
}

.button_catalog:hover {
    cursor: pointer;
    background: #ffea7d;
}
