@media (max-width: 1280px) {
    .page_container {
        max-width: 940px;
    }
}
@media (max-width: 1023px) {
    .page_container {
        padding: 65px 39px;
    }
    .first_row {
        flex-direction: column;
    }
    h2 {
        padding-right: 90px;
    }
    .first_row_img_1920 {
        display: none;
    }
    .first_row_img_768 {
        display: block;
        margin-bottom: 16px;
    }
    .second_row_first_column {
        width: 50%;
    }
    .second_row_second_column {
        width: 50%;
    }
    .assortiment {
        padding: 44px 0;
    }
    .third_row {
        flex-direction: column;
    }
    .third_row_second_column {
        margin-top: 48px;
    }
}
@media (max-width: 667px) {
    .page_container {
        padding: 65px 15px;
    }
    .first_row_img_768 {
        display: none;
    }
    .first_row_img_320 {
        display: block;
    }
    h2 {
        font-size: 24px;
        line-height: 120%;
        padding-right: 60px;
    }
    .azot_column {
        display: flex;
        margin-left: 34px;
    }
    .price_row {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .text_bold {
        margin-bottom: 30px;
    }
    .volume,
    .price {
        margin-bottom: 30px;
    }
    .price {
        height: 38px;
    }
    .price_row_opt {
        display: flex;
        flex-direction: row;
        margin-left: 17px;
    }
    .callback,
    .more_info {
        width: 285px;
    }
    .second_row {
        flex-direction: column;
    }
    .second_row_first_column,
    .second_row_second_column {
        width: 100%;
    }
    .assortiment {
        padding: 44px 33px;
        width: 100%;
        margin-top: 48px;
    }
    .cards {
        flex-direction: column;
    }
    .card_one,
    .card_two {
        max-width: 290px;
    }
    .card_one {
        margin-bottom: 32px;
    }
    .cards img {
        max-width: 258px;
    }
}
