@media (max-width: 1280px) {
    .page_container {
        max-width: 940px;
    }
}
@media (max-width: 1023px) {
    .page_container {
        padding: 64px 39px;
    }
    .container_img {
        width: 100%;
    }
    .six_partner {
        font-size: 32px;
    }
    .button_download {
        width: 100%;
    }
    .card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card img {
        width: 100%;
    }
    .card_wrapper {
        padding: 10px;
    }
    .card_off {
        display: none;
    }
}
@media (max-width: 425px) {
    .page_container {
        padding: 64px 15px;
    }
    .main_services {
        flex-direction: column;
    }
    .six_container {
        flex-direction: column;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 40px;
        margin-top: 0;
    }
    .card_container {
        grid-template-columns: 1fr;
    }
}
