@media (max-width: 1280px) {
    .page_container {
        max-width: 940px;
    }
}
@media (max-width: 1023px) {
    .page_container {
        padding: 64px 39px;
    }
    
    .cards_container {
        grid-template-columns: 1fr 1fr;
    }
    .cards_first,
    .cards_second {
        flex-direction: column;
    }
}
@media (max-width: 425px) {
    .page_container {
        padding: 64px 15px;
    }
    .card_caption {
        font-size: 24px;
        line-height: 120%;
    }
    .cards_container {
        grid-template-columns: 1fr;
    }
}
