@media (max-width: 1280px) {
    .page_container {
        max-width: 940px;
    }
}

@media (max-width: 1023px) {
    .page_container {
        padding: 65px 39px;
    }
    .licenses {
        margin-bottom:32px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
@media (max-width: 425px) {
    .page_container {
        padding: 65px 15px;
    }
    .licenses {
        margin: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 120%;
    }
    .text_two {
        margin-right: 0;
    }
    .cards {
        grid-template-columns: 1fr;
    }
    
}
