.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}

hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
    width: 540px;
}

.first_row {
    display: flex;
    margin-bottom: 32px;
}

.small_text {
    font-size: 18px;
    line-height: 150%;
    width: 540px;
    margin-right: 28px;
}

.callback {
    font-size: 18px;
    color: #03608f;
    border: 1px solid #00679c;
    width: 285px;
    height: 50px;
}

.callback:hover {
    cursor: pointer;
    background: #84bfdc;
    color: #eaeff3;
}

.container {
    display: flex;
}

.container img {
    margin-bottom: 16px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
}

.first_column {
    display: flex;
    flex-direction: column;
}

.card_one {
    padding: 16px;
    background: #ffffff;
    margin: 0 30px 32px 0;
}

.card_text {
    font-size: 16px;
    line-height: 150%;
}

.card_two {
    padding: 16px;
    background: #ffffff;
    margin: 0 30px 0 0;
}

.second_column {
    display: flex;
    flex-direction: column;
}

.card_three {
    padding: 16px;
    background: #ffffff;
    margin: 0 30px 32px 0;
}

.card_four {
    padding: 16px;
    background: #ffffff;
    margin: 0 30px 0 0;
}

.card_five {
    padding: 16px;
    background: #ffffff;
    margin: 0 30px 32px 0;
}
