.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}

hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
}

.first_row {
    display: flex;
    margin-bottom: 32px;
}

.small_text {
    font-size: 18px;
    line-height: 150%;
    margin-right: 28px;
}

.callback {
    font-size: 18px;
    color: #03608f;
    border: 1px solid #00679c;
    padding: 16px 69px;
}

.callback:hover {
    cursor: pointer;
    background: #84bfdc;
    color: #eaeff3;
}

.grid_container {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.grid_container_first {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.grid_container_second {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.container img {
    margin-bottom: 16px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
}

.card {
    padding: 16px;
    background: #ffffff;
    grid-column: span 1 / span 1;
    height: min-content;
}

.card_text {
    font-size: 16px;
    line-height: 150%;
}

.width {
    width: 100%;
}