* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "PT Sans";
    font-weight: 400;
}
input::-ms-clear {
    display: none;
}
ul li {
    list-style: none;
}

/* Header! */

.header_container {
    padding: 25px 405px;
}

.header_info {
    background-color: #03608f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_info_phone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #eaeff3;
}
.header_info_button {
    background-color: #eaeff3;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    padding: 11px 36px;
}

.header_menu {
    background-color: #035178;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #eaeff3;
}

.header_menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list_margin {
    margin-right: 8px;
}

a {
    color: #eaeff3;
    text-decoration: none;
}

/* Footer! */

.footer_container {
    padding: 60px 405px 45px 405px;
    background-color: #035178;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
}

.caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
}

.footer_list {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer_links_list {
    margin-right: 125px;
}

footer li {
    margin-top: 12px;
}

.footer_license p {
    margin-bottom: 30px;
}

.footer_company p {
    margin-bottom: 30px;
}

.footer_links_list {
    display: flex;
    justify-content: space-between;
}

.footer_down {
    display: flex;
    justify-content: space-between;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
}

.footer_copyright {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.footer_last_text {
    margin-top: 25px;
}

.page_container {
    padding: 65px 405px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #e5e5e5;
}

.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}

hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
    opacity: 0.3;
}

.first_row {
    display: flex;
    margin-bottom: 48px;
}

.first_row img {
    margin-right: 32px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
    width: 568px;
}

.price_row {
    display: flex;
    margin-bottom: 32px;
}

.text_bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    margin-right: 32px;
}

.volume {
    font-size: 35px;
    line-height: 100%;
    margin-right: 30px;
    width: 60.5px;
}

.price {
    font-size: 18px;
    line-height: 23px;
    margin-right: 30px;
}

hr:nth-of-type(1) {
    margin: 16px 0;
}

.callback {
    background: #00679c;
    padding: 16px 78.5px;
    color: #eaeff3;
}

.second_row {
    display: flex;
    margin-bottom: 48px;
}

h3 {
    font-size: 24px;
    padding-bottom: 16px;
}

.second_row_first_column {
    width: 350px;
    margin-right: 30px;
}

.spisok {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 16px;
}

.more_info {
    color: #03608f;
    font-size: 18px;
    border: 1px solid #00679c;
    padding: 16px 56.5px;
}

.more_info:hover {
    background: #84bfdc;
    cursor: pointer;
    color: #eaeff3;
}

.second_row_second_column {
    width: 730px;
}

.assortiment {
    display: flex;
    flex-direction: column;
    background: #00679c;
    padding: 44px 111px;
    justify-content: center;
    align-items: center;
}

.assortiment_all {
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #f3f3f3;
    margin-bottom: 16px;
}

.price_list {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eecc1c;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    padding: 14px 69px;
}

.price img {
    padding-right: 10px;
}

.third_row {
    display: flex;
}

.spisok_gaz {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 48px;
    width: 350px;
}

.links_gost {
    font-size: 16px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #1070a2;
}

h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    opacity: 0.3;
}

h4:nth-of-type(2) {
    margin-top: 48px;
}

.cards {
    display: flex;
}

.card_one {
    background: #ffffff;
    margin-right: 20px;
    padding: 16px;
    width: 355px;
}

.card_two {
    background: #ffffff;
    padding: 16px;
    width: 355px;
}

.cards img {
    margin-bottom: 16px;
    width: 100%;
}

.card_text_one {
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 16px;
}

.card_text_two {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
