@media (max-width: 1280px) {
    .page_container {
        max-width: 940px;
    }
}

@media (max-width: 768px) {
    .page_container {
        padding: 65px 39px;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 425px) {
    .page_container {
        padding: 65px 15px;
    }
    .services {
        padding-right: 0;
        font-size: 24px;
        line-height: 120%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    
}
