@media (max-width: 768px) {
    .page_container {
        padding: 65px 39px;
    }
    .services {
        padding-right: 239px;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
        margin-top: 30px;
    }
}
@media (max-width: 425px) {
    .page_container {
        padding: 65px 15px;
    }
    .services {
        padding-right: 0;
        font-size: 24px;
        line-height: 120%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    .card {
        padding: 30px;
    }
}
