.page_container {
    padding: 65px 405px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #e5e5e5;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
.card_caption {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    color: #000000;
    margin-bottom: 32px;
    padding-right: 570px;
}
.card_text {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 32px;
    padding-right: 570px;
}
.cards_first {
    display: flex;
}
.card {
    background: #ffffff;
    margin-right: 30px;
    margin-bottom: 32px;
    padding: 16px;
}
.text_one {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin: 16px 0;
}
.text_two {
    font-size: 16px;
    line-height: 150%;
}
.cards_second {
    display: flex;
}
.button_show {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_show button {
    padding: 16px 64px;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    border: 1px solid #00679c;
}
