* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "PT Sans";
    font-weight: 400;
}
input::-ms-clear {
    display: none;
}
ul li {
    list-style: none;
}
/* Header! */
.header_container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.header_top {
    display: flex;
    max-width: 1110px;
    width: 100%;
    justify-content: space-between;
}
.phone_plus_button {
    display: flex;
    align-items: center;
}
.header_info {
    background-color: #03608f;
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.header_info_phone {
    margin-right: 100px;
}
.header_info_phone,
.header_info_phone_burger {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #eaeff3;
}
.burger_menu .header_info_phone {
    margin: 0 0 21px 0;
}
.header_info_button {
    background-color: #eaeff3;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    padding: 11px 36px;
}
.header_info_button:hover {
    background: #c3eafd;
    cursor: pointer;
}
.header_burger,
.burger_menu {
    display: none;
}
.header_menu {
    background-color: #035178;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    color: #eaeff3;

    display: flex;
}
.header_menu_list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
}
.header_menu_list li {
    padding: 16px 0;
    position: relative;
}
.header_menu_list img {
    cursor: pointer;
}
.list_margin {
    margin-right: 8px;
    position: relative;
}
.accordeon {
    position: absolute;
    top: 53px;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    color: #035178;
}
.accordeon li {
    padding: 6px 40px;
    display: flex;
}
.accordeon li:hover {
    background: #c3eafd;
}
a {
    color: #eaeff3;
    text-decoration: none;
}
.supplyers_button {
    color: #035178;
}
/* Footer! */
.footer_container {
    padding: 60px 0 45px 0;
    background-color: #035178;
    font-size: 16px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}
.container_size {
    max-width: 1110px;
    width: 100%;
}
.caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
}
.footer_links_list li:hover {
    cursor: pointer;
    color: #eaeff3;
}
.footer_list {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer_links_list {
    margin-right: 125px;
}
.footer_links_list a {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
}
footer li {
    margin-top: 12px;
}
.footer_license p {
    margin-bottom: 30px;
}
.footer_company p {
    margin-bottom: 30px;
}
.footer_links_list {
    display: flex;
    justify-content: space-between;
}
.footer_down {
    display: flex;
    justify-content: space-between;
}
.footer_info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
}
.footer_copyright {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.footer_last_text {
    margin-top: 25px;
}
.caption_img_320 {
    display: none;
}
@media (max-width: 1280px) {
    .header_top,
    .header_menu_list,
    .container_size {
        max-width: 940px;
    }
}
@media (max-width: 1023px) {
    .header_container {
        padding: 25px 39px;
    }
    .header_info {
        justify-content: space-between;
    }
    .header_info_phone,
    .header_menu {
        display: none;
    }
    .header_burger {
        display: block;
    }
    .header_info_button {
        margin-right: 58px;
    }
    .media_button {
        display: flex;
        align-items: center;
    }
    .burger_menu {
        padding: 60px 50px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #035178;
        z-index: 100;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
    }

    .burger_menu .header_info_button,
    .header_info_phone_burger {
        display: block;
        margin: 0;
    }
    .burger_menu .header_info_phone {
        display: block;
    }
    .burger_menu li {
        margin-bottom: 32px;
    }
    .burger_menu .header_menu_list {
        margin-bottom: 25px;
    }
    .burger_menu .header_info_phone_burger {
        margin-bottom: 21px;
    }
    .header_menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cross {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    /* footer! */
    .footer_container {
        padding: 39px 39px;
    }
    .footer_links_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer_products,
    .footer_services {
        margin-bottom: 40px;
    }
    .footer_company p:nth-of-type(2) {
        margin-bottom: 12px;
    }
    .footer_down {
        display: flex;
    }
    .footer_info {
        margin-right: 30px;
    }
    .footer_last_text_tablet {
        display: none;
    }
}
@media (max-width: 767px) {
    .header_info_phone,
    .header_info_button,
    .header_menu {
        display: none;
    }
}

/* Phone! */
@media (max-width: 425px) {
    /* header! */
    .header_container {
        padding: 15px 15px 21px 15px;
    }

    /* footer! */
    .footer_container {
        padding: 40px 15px;
    }
    .footer_links_list {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer_links_list ul {
        display: none;
    }
    .footer_products,
    .footer_services {
        margin-bottom: 30px;
        display: flex;
    }
    .caption_img_320 {
        display: block;
        margin-left: 8px;
    }
    .footer_company ul {
        display: block;
    }
    .footer_down {
        display: grid;
        grid-template-columns: 1fr;
    }
}
