.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
.container {
    display: flex;
}
.container_first {
    margin-right: 30px;
}
.container_first_768 {
    display: none;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
}
.container_second ul {
    font-size: 18px;
    margin-bottom: 32px;
    line-height: 30px;
}
.price {
    width: 285px;
    height: 50px;
    color: #03608f;
    background: #eecc1c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.price img {
    margin-right: 10px;
}
.more_info {
    width: 285px;
    height: 50px;
    border: 1px solid #00679c;
    color: #03608f;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-bottom: 16px;
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    opacity: 0.3;
}
.cards {
    display: flex;
}
.card_one {
    background: #ffffff;
    margin-right: 30px;
    padding: 16px;
}
.card_two {
    background: #ffffff;
    padding: 16px;
}
.cards img {
    margin-bottom: 16px;
}
.card_text_one {
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 16px;
}
.card_text_two {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
