.page_container {
    padding: 65px 405px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #e5e5e5;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
.licenses {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-right: 570px;
    margin: 0 570px 32px 0;
}
.text_one {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
}
.text_two {
    font-size: 18px;
    line-height: 150%;
}
.cards {
    display: flex;
}
.card_one {
    padding-right: 30px;
}
.card_text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 23px;
}
