.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 48px;
}
.container {
    display: flex;
    justify-content: space-between;
}


.text_big {
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 24px;
}
.text_small {
    font-size: 24px;
    margin-bottom: 56px;
}
.text_bold {
    font-weight: 700;
    font-size: 24px;
}
.text_small_2 {
    font-size: 24px;
    margin-bottom: 32px;
}

.second_column img {
    width: 100%;
}
.section_fifth {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    /* margin-top: -125px; */
}
.section_fifth p {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 2px;
}
.fifth_container {
    width: 100%;
}
.section__logo-list {
    margin-top: 80px;
}
.logo-list__first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}
.logo-list__second-row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.section_six {
    background-image: url(./img/intro/intersect.svg);
    background-color: #03608f;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.six_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.six_partner {
    font-size: 48px;
    line-height: 120%;
    color: #f3f3f3;
    margin-right: 126px;
}
.six_buy {
    font-size: 24px;
    line-height: 120%;
    color: #f3f3f3;
}
.six_buy button {
    margin-top: 10px;
    background-color: #eecc1c;
    padding: 16px 70px;
    color: #035178;
}
.six_buy button:hover {
    background: #ffea7d;
    cursor: pointer;
}
