.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
.licenses {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.text_one {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 32px;
}
.text_two {
    font-size: 18px;
    line-height: 150%;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.card img {
    width: 100%;
}
.card_text {
    margin-top: 16px;
    font-size: 18px;
    line-height: 23px;
}
