.section {
    display: flex;
    justify-content: center;
    background: #e5e5e5;
}
.page_container {
    padding: 64px 0;
    max-width: 1110px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.main_services {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.3;
    padding-bottom: 32px;
}
hr {
    height: 3;
    border: none;
    border-top: 1px solid #333;
    margin-top: 13px;
}
h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 30px;
}
.row {
    margin-bottom: 30px;
    display: flex;
}
.row_left {
    margin-right: 30px;
    width: 50%;
}
.row_right {
    display: flex;
    flex-direction: column;
    background: #00679c;
    padding: 46px 111px;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.assortiment_all {
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #f3f3f3;
    margin-bottom: 16px;
}
.price {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eecc1c;
    font-size: 18px;
    line-height: 100%;
    color: #03608f;
    padding: 14px 69px;
    width: 100%;
}
.price:hover {
    background: #ffea7d;
    cursor: pointer;
}
.price img {
    padding-right: 10px;
}
.more_info {
    background: #00679c;
    padding: 16px 71.5px;
    font-size: 18px;
    color: #eaeff3;
    border: 1px solid #eaeff3;
}
.more_info:hover {
    background: #eaeff3;
    cursor: pointer;
    color: #03608f;
}
h3 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 16px;
}
h2,
h2 a {
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    opacity: 0.3;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    background: #ffffff;
    padding: 16px;
    grid-column: span 1 / span 1;
}

.cards img {
    margin-bottom: 16px;
    width: 100%;
}
.card_text_one {
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 16px;
}
.card_text_two {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}
